/**
* Accordeon
*/

.accordeon {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  details {
    position: relative;
    min-width: 200px;
    transition: all 0.3s ease;
  }
  
  details[open] {
    flex-grow: 1;
    display: flex;
    gap: 20px;
  }

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
  }
   
  summary {
    list-style: none;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    display: block;
  }
   
  details[open] div {
    animation: slideIn 0.3s ease forwards;
  }
  
